# ------------------------------------------------------------------------
# All ignore
# ------------------------------------------------------------------------
/**
/.**

# ------------------------------------------------------------------------
# /
# ------------------------------------------------------------------------
!/.zshenv
!/.zprofile
!/.zshrc
!/.gitconfig
!/.gitignore
!/.Makefile
!/.README.md

# ------------------------------------------------------------------------
# /.dotconfig
# ------------------------------------------------------------------------
!/.dotconfig

!/.dotconfig/bat
!/.dotconfig/bat/bat.conf

!/.dotconfig/homebrew
!/.dotconfig/homebrew/Brewfile

!/.dotconfig/vscode
!/.dotconfig/vscode/keybindings.json

!/.dotconfig/idea
!/.dotconfig/idea/macOS_Jimon.xml

!/.dotconfig/zsh
!/.dotconfig/zsh/profile
!/.dotconfig/zsh/rc
!/.dotconfig/zsh/rc/alias.zsh
!/.dotconfig/zsh/rc/appearance.zsh
!/.dotconfig/zsh/rc/bindkey.zsh
!/.dotconfig/zsh/rc/completion.zsh
!/.dotconfig/zsh/rc/history.zsh
!/.dotconfig/zsh/rc/plugin.zsh
!/.dotconfig/zsh/rc/wordstyle.zsh
!/.dotconfig/zsh/rc/setopt.zsh
!/.dotconfig/zsh/rc/xxenv.zsh
!/.dotconfig/zsh/rc/zinit.zsh

# ------------------------------------------------------------------------
# /setup
# ------------------------------------------------------------------------
!/setup

!/setup/deploy
!/setup/deploy/deploy_home.sh
!/setup/deploy/deploy_vscode.sh
!/setup/deploy/deploy_idea.sh
!/setup/deploy/util_deploy.sh

!/setup/init
!/setup/init/init_homebrew.sh
!/setup/init/init_zinit.sh
