# ------------------------------------------------------------------------
# All ignore
# ------------------------------------------------------------------------
/*
/.**

# ------------------------------------------------------------------------
# /
# ------------------------------------------------------------------------
!/.zshenv
!/.zprofile
!/.zshrc
!/.gitconfig
!/.gitignore
!/.Makefile
!/.README.md

# ------------------------------------------------------------------------
# /.dotconfig
# ------------------------------------------------------------------------
!/.dotconfig
!/.dotconfig/.homebrew
!/.dotconfig/.homebrew/Brewfile

# ------------------------------------------------------------------------
# /setup
# ------------------------------------------------------------------------
!/setup
!/setup/deploy
!/setup/deploy/deploy.sh
!/setup/init
!/setup/init/init_homebrew.sh
